<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="title-en">ACT Agile Awards</br>
      Taiwan 2024</h1>
      <h1>
        2024台灣敏捷大賞
      </h1>
    <!-- <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat"> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
